/* span{
    background-color: rgb(246, 133, 178);
    border: 2px solid black;
    height: 100px;
    width: 200px;
    padding: 20px;
    margin: 20p;
} */

/* div{
    border: 2px solid black;
    height: 100px;
    width: 200px;
    padding: 20px;
    margin: 20p;
} */

div{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    background-color: red;
    display: inline-block;
    margin: 10px;
}