/* UNIVERSAL SELECTOR  */
*{
    font-family: 'Courier New';
}


/* ELEMENT SELECTOR */
h1 ,h3{
    color: #b92b27;
}


/* ID SELECTOR  */
#login{
    background-color: white;
    color: #b92b27;
}

#signup{
    background-color: #b92b27;
    color: white;
}


/* CLASS SELECTOR */
.upvote{
    background-color: green;
    color: white;
}


/* DESCENDANT SELECTOR */
.post a{
    color: purple;
    background-color: yellow;
}

nav ul li a{
    color: hotpink;
}


/* ADJACENT SIBILING COMBINATOR */
p + h3{
    text-decoration: underline;
}

.upvote + button{
    background-color: cornflowerblue;
    color: darkblue;
}


/* CHILD COMBINATOR */
div > input{
    background-color: ghostwhite;
}


/* ATTRIBUTE SELECTOR */
input[type="text"]{
    color: green;
}

input[type="password"]{
    color: red;
}


/* PSEUDO CLASSES */
button:hover{
    background-color: black;
    color: white;
}

button:active{
    background-color: rgb(248, 0, 41);
    color: black;
}


input[type="radio"]:checked +label{
    color: red;
    font-weight: bold;
}

div:nth-of-type(2n){
    background-color: rgb(117, 211, 89);
}


/* PSEUDO ELEMEMTS */
h1::first-letter{
    color: black;
}

p::first-line{
    color: tomato;
}

p::selection{
    background-color: rgb(234, 181, 102);
}